body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
